{% extends "base.html" %}
    <div class='container' style="background-color: #F1EEF5!important">
        <div>
            <input type="text" class="rounded-pill" placeholder="What book do you recommend?"><input type="submit" class="btn rounded-pill" style="background-color: #C2C2D7!important" value="Add">
        </div>
        <div class="container bg-light p-5 my-5 border">
            <div class="list-group list-group-horizontal">
                <img src="#" alt=""class="list-group-item list-group-item-action">
                <img src="#" alt=""class="list-group-item list-group-item-action">
                <img src="#" alt=""class="list-group-item list-group-item-action">
              </div>
              <div class="list-group list-group-horizontal">
                <img src="#" alt=""class="list-group-item list-group-item-action">
                <img src="#" alt=""class="list-group-item list-group-item-action">
                <img src="#" alt=""class="list-group-item list-group-item-action">
                <img src="#" alt=""class="list-group-item list-group-item-action">
                <img src="#" alt=""class="list-group-item list-group-item-action">
                <img src="#" alt=""class="list-group-item list-group-item-action">
              </div>
        </div>

        <div class="mx-auto mw-100">
            <input type="text" class="rounded-pill" placeholder="Where should we get together for our next discussion?"><input type="submit" class="btn rounded-pill" style="background-color: #C2C2D7!important"  value="Add">
            
        </div>
        <div class="container bg-light p-5 my-5 border">
            <div class="list-group list-group-horizontal">
                <img src="#" alt=""class="list-group-item list-group-item-action">
                <img src="#" alt=""class="list-group-item list-group-item-action">
                <img src="#" alt=""class="list-group-item list-group-item-action">
                <img src="#" alt=""class="list-group-item list-group-item-action">
                <img src="#" alt=""class="list-group-item list-group-item-action">
                <img src="#" alt=""class="list-group-item list-group-item-action">
              </div>
              <div></div>
        </div>
    </div>
    <footer>
        <h3>Thank you Note</h3>
        <ul>
            <li class="list-group-item"></li>
            <li class="list-group-item"></li>
        </ul>
    </footer>
</body>
</html>